.App {
  font-family: pt mono;
  text-align: center;
  margin: 40px auto;
  max-width: 650px;
  margin-bottom: 32px;
  border: 1px solid #c8c4ce;
  border-radius: 8px;
  padding: 24px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(251, 222, 238) 15.6%,
    rgb(206, 201, 226) 80.3%
  );
}

.App-header {
  font-size: calc(5px + 1.5vmin);
  color: rgb(84, 173, 149);
}

.App-link {
  color: #61dafb;
}

.App footer {
  position: relative;
  bottom: -60px;
  text-align: center;
  display: block;
}
