.SearchEngine li {
  text-align: center;
  list-style: none;
  text-transform: capitalize;
}

.SearchEngine form {
  margin: 30px;
}

.SearchEngine canvas {
  margin: -15px auto;
  right: 15%;
  position: relative;
}
