.SearchEngine li {
  text-align: center;
  list-style: none;
  text-transform: capitalize;
}

.SearchEngine form {
  margin: 30px;
}

.SearchEngine canvas {
  margin: -39px auto;
  right: 41%;
  position: relative;
}
