.WeatherForecast {
  text-align: center;
  color: #da4675;
}

.WeatherForecast .WeatherForecast-temp {
  font-size: 15px;
}

.WeatherForecast .WeatherForecast-min {
  opacity: 0.7;
  margin-left: 5px;
}

.WeatherForecast-description {
  font-size: 11px;
  color: #8e63f9;
}
