.WeatherInfo li {
  list-style: none;
}
.WeatherInfo strong {
  margin-top: 0;
  position: relative;
  right: 55px;
}
.WeatherInfo .DailyInfo {
  font-size: 14px;
  position: relative;
  right: 69px;
  top: -10px;
}

.WeatherInfo .DailyTemp {
  font-size: 40px;
  font-weight: bold;
}

.WeatherInfo .Unit {
  position: relative;
  top: -18px;
  right: 11px;
  font-size: 15px;
}

.WeatherInfo .WeatherInfoDetails {
  font-size: 14px;
  position: relative;
  left: 111%;
  top: -162%;
}
