.WeatherInfo li {
  list-style: none;
}
.WeatherInfo strong {
  margin-top: 0;
  position: relative;
  right: 55px;
}
.WeatherInfo .DailyInfo {
  font-size: 15px;
  position: relative;
  right: 69px;
  top: -10px;
}

.WeatherInfo .DailyTemp {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  right: 29px;
  top: -18px;
}

.WeatherInfo .Unit {
  position: relative;
  top: -38px;
  right: 37px;
  font-size: 15px;
}

.WeatherInfo .WeatherDetails {
  font-size: 14px;
  position: relative;
  left: 111%;
  top: -162%;
}

.WeatherInfo .weatherIcon {
  margin-right: 2px;
  position: relative;
  left: -37px;
  top: 1px;
}
