.Weather {
  border-radius: 8px;
  margin: -37px -67px;
  padding: 20px;
}

.Weather li {
  list-style: none;
}
.Weather strong {
  margin-top: 0;
}
.Weather .DailyInfo {
  font-size: 14px;
}

.Weather .DailyTemp {
  font-size: 40px;
  font-weight: bold;
}

.Weather .Unit {
  position: relative;
  top: -18px;
  right: 11px;
  font-size: 15px;
}

.Weather .WeatherDetails {
  font-size: 14px;
  position: relative;
  left: 111%;
  top: -162%;
}
