.WeatherInfo li {
  list-style: none;
}
.WeatherInfo strong {
  margin-top: 0;
  position: relative;
  right: 42px;
}
.WeatherInfo .DailyInfo {
  font-size: 18px;
  position: relative;
  right: 69px;
  top: -10px;
}

.WeatherInfo .DailyTemp {
  font-size: 40px;
  font-weight: bold;
  position: relative;
  right: -3px;
  top: 3px;
}

.WeatherInfo .Unit {
  position: relative;
  top: -54px;
  right: -58px;
  font-size: 15px;
}

.WeatherInfo .WeatherDetails {
  font-size: 18px;
  position: relative;
  left: 111%;
  top: -162%;
  color: #37967b;
}

.WeatherInfo .WeatherInfo-description {
  font-weight: bolder;
  font-size: 20px;
}

.WeatherInfo .weatherIcon {
  margin-right: 2px;
  position: relative;
  left: -37px;
  top: 1px;
}
